# flyctl launch added from .gitignore
**\.gradle
**\.idea
**\build
**\local.properties
# Local Netlify folder
**\.netlify

# flyctl launch added from .idea\.gitignore
# Default ignored files
.idea\shelf
.idea\workspace.xml

# flyctl launch added from site\.gitignore
# Kobweb ignores
site\**\.kobweb\*
!site\**\.kobweb\conf.yaml
fly.toml
