@font-face {
    font-family: 'InterVariable';
    src: url('assets/fonts/InterVariable.ttf');
}

@font-face {
    font-family: 'YoungSerif';
    src: url('assets/fonts/YoungSerif.otf');
}

body {
    margin: 0px;
}