@font-face {
    font-family: 'InterVariable';
    src: url('assets/fonts/InterVariable.ttf');
}

@font-face {
    font-family: 'YoungSerif';
    src: url('assets/fonts/YoungSerif.otf');
}

*:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: -webkit-focus-ring-color auto 1px;
}

*:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  outline: none;
}

*:focus-visible {
  /* Draw a very noticeable focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: -webkit-focus-ring-color auto 1px;
}
